.navbar {
    grid-area: navbar;
    background-color:gold;
    padding: 20px;
    margin: 15px;
  }
  
.item {
  color: green;
  text-decoration: none;
}
.activeLink {
  color: goldenrod;
  text-decoration: none;
}

